{% extends './base.html.twig' %}
{% block title %}An alternative to the Symfony Form Component{% endblock %}
{% block body %}
    <h1>An alternative to the Symfony Form Component</h1>

    <ul>
        <li>
            <a href="/simple-form">Try a simple form</a>
        </li>
        <li>
            <a href="/composite-form">Try a composite form</a>
        </li>
    </ul>
{% endblock %}
