{% extends './base.html.twig' %}
{% block title %}A new way to form{% endblock %}
{% block body %}
    <h1>A new way to handle forms in Symfony</h1>

    <ul>
        <li>
            <a href="/simple-form">Try a simple form</a>
        </li>
        <li>
            <a href="/composite-form">Try a composite form</a>
        </li>
    </ul>
{% endblock %}
